.card{
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  display: inline-block;
  background-color: #fe7c02;
}
ul {
  list-style-type: none;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
=======
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    background-color: #fe7c02;
}
ul {
    list-style-type: none;
  }

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
>>>>>>> 2b5ba06adfa194b89302a9e1f9d45135a622a94d
}

.ct-section_header {
text-align: center;
padding-top: 10px;
padding: 5rem 0 6rem;*/
}
.ct-section_header h2 {
font-size: 65px;
font-size: 6.5rem;
color: #291b07;
font-family: 'nimbus-sans-condensed', sans-serif;
font-weight: bold;
margin-bottom: 0;
}
.ct-section_header-separator {
background-color: #fe7c02;
height: 2px;
height: 0.2rem;
display: inline-block;
max-width: 700px;
width: 100%;
}
.ct-section_header-description {
font-family: 'nimbus-sans-condensed', sans-serif;
font-weight: bold;
color: #291b07;
font-size: 26px;
font-size: 2.6rem;
max-width: 750px;
max-width: 75rem;
display: inline-block;
}
.ct-u-color-white .ct-section_header h2,
.ct-u-color-white .ct-section_header-description {
color: inherit;
}
@media only screen and (max-width: 479px) {
.ct-section_header {
padding: 50px 0 45px;
padding: 5rem 0 4.5rem;
}

@media (min-width: 992px) {
.book-now-form label {
  float: left;
  margin-right: 1em;
  padding-top: 2px;
  display: block;
}
<<<<<<< HEAD
}
@media (min-width: 768px) {
.book-now-form .form-group {
  margin-bottom: 0;
  float: left;
  margin-right: 1em;
  width: 100%;
}	

}
=======
section.ct_icon_box_section .ct-icon_box.media .fa, .ct-icon_box.media .fa {
    font-size: 22px;
    color: #fff;
    background-color: #fe7c02;
    border-radius: 50%;
    padding: 12px;
}
.ct-icon_box.media {
    margin-bottom: 35px;
    padding: 20px 20px;
}

@media (min-width: 992px) {
  .book-now-form label {
    float: left;
    margin-right: 1em;
    padding-top: 2px;
    display: block;
  }
}
@media (min-width: 768px) {
  .book-now-form .form-group {
    margin-bottom: 0;
    float: left;
    margin-right: 1em;
    width: 100%;
  }	

  }
>>>>>>> 2b5ba06adfa194b89302a9e1f9d45135a622a94d
